.main-left {
  width: 850px;
  float: left;
}

.main-right {
  width: 335px;
  float: right;
}

.main-right {
  margin-top: 15px;
}

.wrap {
  margin-bottom: 2px;
}

.main-left-1 {
  padding-right: 15px;
  margin-top: 15px;
}

.main-left-1 h2 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  margin: 20px 15px 10px 0;
}

.main-ui-meta {
  margin-left: 20px;
  margin-right: 15px;
  font-size: 14px;
  width: 600px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 15px;
}

.main-meta {
  display: flex;
  flex-wrap: nowrap;
}

.main-left .img {
  width: 240px;
  min-width: 240px;
  margin: 0;
  padding: 0;
}

.main-left .img img {
  width: 240px;
  min-width: 240px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

img {
  border: 0;
}

.main-ui-meta p,
.main-ui-meta > div {
  margin-bottom: 5px;
  line-height: 1.8;
}

.main-left #favorite {
  margin-top: 5px;
  border-radius: 5px;
  height: 30px;
  line-height: 27px;
  background: #008ee6;
  text-align: center;
  color: #fff;
  font-size: 13px;
  filter: none;
  display: block;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
}

.main-ui-meta h1 {
  font-size: 20px;
  font-weight: bolder;
  line-height: 1.5;
  margin: 0 0 10px;
}

.main-ui-meta h1 div {
  display: inline;
}

.main-ui-meta h1 span {
  padding-left: 5px;
  display: inline-block;
}

.main-ui-meta span {
  color: #333;
}

.main-ui-meta .otherbox {
  font-size: 13px;
  background: #e7efff;
  display: inline-block;
  padding: 4px 10px 3px;
  border-radius: 4px;
  line-height: 1.5;
  font-weight: 700;
}

.main-ui-meta .otherbox em {
  padding: 0 3px;
  color: #333;
}
.pan_nothing {
  margin-top: 15px;
}
em {
  font-size: 13px;
  font-style: normal;
}

i {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

.movie-introduce {
  margin-right: 15px;
  line-height: 1.8;
  word-break: break-all;
  white-space: pre-wrap;
}

.movie-introduce .zk_jj,
.movie-introduce .sq_jj,
.alert-info .sq_xx,
.alert-info .zk_xx {
  color: #337ab7;
}

.main-ui-meta .zk_zy,
.main-ui-meta .sq_zy,
.movie-introduce .zk_jj,
.movie-introduce .sq_jj,
.alert-info .sq_xx,
.alert-info .zk_xx {
  cursor: pointer;
}

.all-tabs {
  cursor: pointer;
  margin-top: 20px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
  font-size: 14px;
}

.all-tabs li {
  padding: 5px 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.all-tabs .on {
  background-color: #e7e7e7;
}

.player li {
  float: left;
  padding: 0 5px 5px 0;
}

.ckp a {
  width: 100px !important;
}

.player a {
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #ddd;
  width: 92.5px;
  height: 35px;
  line-height: 35px;
  padding: 0 5px;
  text-align: center;
  overflow: hidden;
  font-size: 13px;
}

ul {
  margin-block-start: 0;
}

.content-list2 li {
  width: 128.8px;
  float: left;
  display: inline;
  position: relative;
  margin-right: 10px;
}

.content-list2 .li-img {
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 190px;
  background-color: rgb(136 136 136 / 20%);
}

.content-list2 .li-bottom {
  height: 25px;
}

.content-list2 img {
  width: 100%;
  height: 100%;
}

.content-list img,
.main-right .whits img,
.content-list2 img,
.sr_lists img,
.foucebox .hd ul img,
.showDiv img {
  object-fit: cover;
}

.content-list2 h3 {
  text-align: center;
}

.li-bottom h3 {
  padding-top: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  background-position: 0 11px;
}

.content-list2 h3 a {
  width: 130px;
}

.li-bottom h3 a {
  width: 135px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.li-bottom a {
  color: #333;
}

.main-right h2 {
  font-size: 16px;
  line-height: 1.2;
  padding: 2px 0 2px 0;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 5px;
}

.main-right .whits li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin-right: 15px;
  width: 335px;
  display: flex;
  justify-content: space-between;
}

.main-right .wimg {
  width: 60px;
  height: 88px;
  position: relative;
}

.main-right .whits img {
  border-radius: 4px;
  width: 60px;
  height: 88px;
}

.main-right .whits p,
.main-right .whits h3 {
  width: 260px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.main-right .wlist {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

p {
  margin-block-end: 0;
}

.row > * {
  padding-left: 0;
}

.player a:hover {
  color: #d81e06 !important;
}
